<footer class="page-footer blue darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Wizzkids</h5>
        <p class="grey-text text-lighten-4">Find classes for your kids in your area</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Google+</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2015 Copyright Wizzkids
    <%= link_to "About Us", pages_about_path, class: "grey-text text-lighten-4 right" %>
    </div>
  </div>
</footer>